body {
    background-color: #f4f4f4;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#question-image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}
